@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(#a3a8f0, #696fdd);
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label {
  background: -webkit-gradient(linear, left top, right top, from(#b6b9d2), to(#adb0f5));
  background: linear-gradient(to right, #b6b9d2, #adb0f5);
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

label:active:after {
  width: 25px;
}

body {
  background-image: url(/images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-color: #f6f6fe;
  font-family: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.head h1 {
  color: #494c5f;
  padding: 30px 0;
  margin-top: 30px;
}

.toggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-label {
  margin: 0 20px;
  color: #6d708d;
}

.card-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
  background-color: white;
  border-radius: 12px;
  padding: 40px 30px;
  margin-top: 60px;
  margin: 60px 0;
  -webkit-box-shadow: 3px 3px 8px #b3b5c6;
          box-shadow: 3px 3px 8px #b3b5c6;
  width: 33%;
}

.card .card-title {
  color: #6d708d;
  font-weight: bold;
  padding: 5px 0;
}

.card .price {
  font-weight: bold;
  color: #494c5f;
  font-size: 36px;
  padding: 10px 0;
}

.card .price .dollar {
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card-info {
  list-style-type: none;
  margin: 0;
  padding: 30px 0;
}

.card .card-info li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid #f6f6fe;
}

.card .card-info li:nth-last-child(1) {
  border-bottom: 1px solid #f6f6fe;
}

.card .btn-leanmore {
  background: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  padding: 15px 0;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-box-shadow: 2px 3px 6px #b3b5c6;
          box-shadow: 2px 3px 6px #b3b5c6;
}

.card .btn-leanmore:hover {
  border: 1px solid #696fdd;
  background: white;
  color: #494c5f;
}

.middle-card {
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(#a3a8f0, #696fdd);
  -webkit-transform: scaleY(1.15);
          transform: scaleY(1.15);
  color: white;
}

.middle-card .card-title {
  color: white;
}

.middle-card .price {
  color: white;
}

.middle-card .btn-leanmore {
  background: #f6f6fe;
  color: #494c5f;
}

.middle-card .btn-leanmore:hover {
  border: 1px solid white;
  background: #696fdd;
  color: white;
}

.bottom-left-img {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 250px;
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  .middle-card {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  .card-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card {
    width: 100%;
    padding: 30px 0px;
    margin: 30px 0;
  }
  .card-content {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 600px) {
  .card:nth-child(1) {
    margin-right: -10px;
  }
  .card:nth-child(3) {
    margin-left: -10px;
  }
}
/*# sourceMappingURL=style.css.map */